.container {
    display: flex;
}

.container > div {
    flex-grow: 1;
}

.container table {
	margin: auto;
	border-collapse: collapse;
}

.container th, .container td {
	border: solid #111111 1px;
	color: #111111;
	padding: 15px;
}

.container th {
	background: #111111;
	color: white;
}